# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor.conflicted': [{
    label: 'Resolve Conflict',
    submenu: [
      { label: 'Current', command: 'merge-conflicts:accept-current' }
      { label: 'Ours', command: 'merge-conflicts:accept-ours' }
      { label: 'Theirs', command: 'merge-conflicts:accept-theirs' }
      { label: 'Ours Then Theirs', command: 'merge-conflicts:ours-then-theirs' }
      { label: 'Theirs Then Ours', command: 'merge-conflicts:theirs-then-ours' }
    ]
  }]
  '.merge-conflicts .navigate': [
    { label: 'Resolve Entire File Ours', command: 'merge-conflicts:entire-file-ours' }
    { label: 'Resolve Entire File Theirs', command: 'merge-conflicts:entire-file-theirs' }
  ]

'menu': [{
  label: 'Packages'
  submenu: [
    label: 'Merge Conflicts',
    submenu: [{ label: 'Detect', command: 'merge-conflicts:detect' }]
  ]
}]
