# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'.editor.conflicted':
  'ctrl-m down': 'merge-conflicts:next-unresolved'
  'ctrl-m up': 'merge-conflicts:previous-unresolved'
  'ctrl-m enter': 'merge-conflicts:accept-current'
  'ctrl-m r': 'merge-conflicts:revert-current'
  'ctrl-m 1': 'merge-conflicts:accept-ours'
  'ctrl-m 2': 'merge-conflicts:accept-theirs'

'.workspace':
  'ctrl-m d': 'merge-conflicts:detect'
